@charset "UTF-8";
#scrollUp {
  background: #72F29F;
  color: #4e5663;
}
#scrollUp:hover {
  color: #212529;
}

#wave-1 {
  margin-top: -12em;
  position: absolute;
}
@media (max-width: 720px) {
  #wave-1 {
    margin-top: -4.9em;
  }
}

#wave-2 {
  margin-top: 6em;
}

.tooltip {
  margin: 1.5em 0 -0.5em;
  margin-left: 12em;
  position: absolute;
}
.tooltip .arrow::before {
  margin-left: 1em;
  border-top-color: #707b8e;
  border-bottom-color: #707b8e;
}
.tooltip .tooltip-inner {
  box-shadow: 0 0 10px 2px rgba(108, 88, 219, 0.2);
  border-radius: 1em;
  font-size: 0.7rem;
  background: #707b8e;
}

#navbar {
  z-index: 999;
}
#navbar .slicknav_icon-bar {
  background: #6B58DB !important;
  border-radius: 1em;
}
#navbar .logo .shad {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}
#navbar .main-menu .tagmenu {
  color: #4b9968;
}
#navbar .main-menu .tagmenu.shad {
  color: #72F29F;
  text-stroke: 0.5px #0008;
  -webkit-text-stroke: 0.5px #0008;
  text-shadow: 0px 0px 3px #0006;
}
#navbar .main-menu .submenu a {
  color: #4b9968;
  text-stroke: 0 t #0000;
  -webkit-text-stroke: 0 #0000;
  text-shadow: 0px 0px 0px #0006;
}
#navbar .main-menu .submenu a::before {
  background: #6B58DB;
}
#navbar .main-menu #navigation .submenu {
  border-radius: 0.6em;
}

#myTab .nav-link {
  color: #495057;
}

#myTabContent .form-control {
  border-radius: 0.6em;
}
#myTabContent .boxed-btn {
  padding: 1em 1.8em !important;
  border-radius: 0.6em;
  color: #A56DF2;
}
#myTabContent .boxed-btn:hover {
  background: #A56DF2;
}
#myTabContent #qrcode .img-thumbnail {
  border-radius: 0.6em;
  background: black;
}

#carousel.carousel .carousel-item {
  height: 110vh;
}
#carousel.carousel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#carousel.carousel .carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  height: 70%;
  width: 100%;
  bottom: 0;
  background-image: linear-gradient(0deg, black 15%, rgba(4, 0, 0, 0.5) 90%, rgba(0, 212, 255, 0) 100%);
}
#carousel.carousel .carousel-item .carousel-caption {
  display: grid !important;
  height: 100%;
  width: 70%;
  margin: auto;
  justify-content: center;
  align-content: center;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}
#carousel.carousel .carousel-item .carousel-caption h5 {
  color: #72F29F;
  font-size: 2.6rem;
}
#carousel.carousel .carousel-item .carousel-caption p {
  margin-top: 1em;
  color: #f2f2f2;
  text-align: justify;
}
#carousel.carousel .btn-explore {
  position: absolute;
  color: #212529;
  display: grid;
  margin-top: -20%;
  justify-self: center;
  width: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.5em 2em;
  background: #f2ee55;
}
#carousel.carousel .btn-explore::before {
  background: #b9b50e;
}
#carousel.carousel .carousel-indicators {
  margin-bottom: 4em;
  border-radius: 2em !important;
}
#carousel.carousel .carousel-indicators li.active {
  background: #6B58DB;
}
@media (max-width: 720px) {
  #carousel.carousel .carousel-item {
    height: 90vh;
  }
  #carousel.carousel .carousel-item .carousel-caption {
    top: -4em;
    width: 80%;
    left: 2em;
  }
  #carousel.carousel .carousel-item .carousel-caption h5 {
    text-align: left;
  }
  #carousel.carousel .carousel-item .carousel-caption p {
    font-size: 0.9rem;
  }
  #carousel.carousel .btn-explore {
    margin-top: -50%;
    width: 50%;
  }
  #carousel.carousel .carousel-indicators {
    display: none;
  }
  #carousel.carousel .ctrl {
    display: none;
  }
}

#profile.pricing-card-area {
  margin-top: 8em !important;
}
#profile .section-tittle h2 {
  font-size: 2.3rem !important;
}
#profile .card-wrapper {
  padding-bottom: 60px;
}
#profile .card-wrapper > div:nth-child(1) {
  padding-right: 0;
}
#profile .card-wrapper > div:nth-child(2) {
  padding-left: 0;
}
@media (max-width: 720px) {
  #profile .card-wrapper > div:nth-child(1) {
    padding-right: 15px;
    margin-bottom: 3em;
  }
  #profile .card-wrapper > div:nth-child(2) {
    padding-left: 15px;
  }
}
#profile .pengajar-wrapper {
  padding: 60px 39px 0;
}
#profile .single-card {
  margin: 0;
  border-radius: 0.6em;
  box-shadow: 0 0 10px 2px rgba(108, 88, 219, 0.2);
}
#profile .single-card:hover {
  box-shadow: 7px 7px 20px -5px rgba(108, 88, 219, 0.356);
}
#profile .single-card:hover .card-btn1 {
  color: #4e5663;
}
#profile .single-card .card-btn1 {
  margin-bottom: 2.5em;
  border-radius: 0.6em;
  background-color: #A56DF2;
  transition: all 0.4s;
}
#profile .single-card .card-btn1::before {
  background-color: #f2ee55;
}
#profile .single-card .fa {
  color: #2b044d;
}
#profile .single-card p {
  text-align: justify;
}
#profile .single-card.details {
  margin-left: 0;
}
#profile .single-card.details .table-responsive {
  overflow-x: auto;
}
#profile .single-card.details .table-responsive .table {
  min-width: 23em;
}
#profile .single-card.details .table-responsive td {
  padding: 0;
}
#profile .single-card.details .table-responsive td:nth-child(1) {
  width: 12em;
}
#profile .sub-title {
  margin-bottom: 2rem;
  font-size: 1.6rem;
}
#profile .owl-prev, #profile .owl-next {
  position: absolute;
  top: 30%;
}
#profile .owl-prev span, #profile .owl-next span {
  font-size: 60px;
  color: #787878;
}
#profile .owl-prev {
  left: -30px;
}
#profile .owl-next {
  right: -30px;
}
#profile .owl-theme {
  height: 15em;
  margin-bottom: 2em;
}
#profile .owl-theme .owl-stage-outer {
  height: 100%;
}
#profile .owl-theme .owl-stage-outer .owl-stage {
  margin-top: 2em;
  position: absolute;
  display: flex !important;
  align-content: center;
  height: 100%;
}
#profile .owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent;
}
#profile .item {
  display: grid;
  justify-content: center !important;
  position: relative;
}
#profile .item .profile-card {
  border-radius: 100%;
  height: 10em;
  width: 10em;
  cursor: pointer;
  position: relative;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px 2px rgba(108, 88, 219, 0.4);
}
#profile .item .profile-card:hover {
  box-shadow: 3px 3px 20px rgba(108, 88, 219, 0.5);
}
#profile .item .profile-card::before {
  opacity: 0;
  transition: all 0.4s;
}
#profile .item .profile-card:hover::before {
  opacity: 1;
}
#profile .item .profile-card:hover .img-card::after {
  transform: scale(1.15);
  filter: brightness(1);
}
#profile .item .profile-card:hover .card-btn1 {
  color: #4e5663;
}
#profile .item .profile-card .img-card {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  padding: 0;
}
#profile .item .profile-card .img-card::after {
  content: "";
  display: block;
  position: absolute;
  filter: brightness(0.75);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transition: all 0.4s;
}
#profile .item .profile-card .img-card.id0::after {
  background-image: url(../img/uag2.jpeg);
}
#profile .item .profile-card .img-card.id1::after {
  background-image: url(../img/abrem.jpg);
}
#profile .item .profile-card .img-card.id2::after {
  background-image: url(../img/eep.jpg);
}
#profile .item .profile-card .img-card.id3::after {
  background-image: url(../img/vina.jpeg);
}
#profile .item .profile-card .img-card.id4::after {
  background-image: url(../img/ustad.jpg);
}
#profile .item .profile-card .btn {
  color: #fff;
  bottom: -3.3em;
  margin-bottom: 2em;
  position: absolute;
  font-size: 0.85rem;
  min-width: 15em;
  padding: 1.5em;
  display: block;
}
#profile .item .profile-card .btn::before {
  height: 105%;
}
#profile .modal .modal-dialog {
  width: 55%;
}
@media (max-width: 720px) {
  #profile .modal .modal-dialog {
    width: 95.5%;
  }
}
#profile .modal .modal-content {
  padding: 0;
  margin: 0;
}
#profile .modal .modal-content:hover::before {
  display: none;
}
#profile .modal .modal-content:hover {
  box-shadow: none;
}
#profile .modal .modal-body {
  padding: 1.5em;
}
#profile .modal .row {
  justify-content: center;
}
#profile .modal .row img {
  width: 100%;
  border-radius: 0.6em;
}
#profile .modal .row .table-responsive {
  overflow-x: auto;
}
#profile .modal .row .table-responsive .table {
  min-width: 23em;
}
#profile .modal .row .table-responsive td {
  padding: 0;
}
#profile .modal .row .table-responsive td p {
  text-align: left;
  margin-bottom: 8px;
}
#profile .modal .row .table-responsive td p .fa {
  font-size: 1.1rem;
}
#profile .modal .row .table-responsive .education {
  display: flex;
}
#profile .modal .row .table-responsive .education ul {
  padding: 0 0 1em 10px;
  position: relative;
  color: #707b8e;
}
#profile .modal .row .table-responsive .education ul li {
  list-style: none;
  padding-left: 0.5em;
  padding-bottom: 5px;
}
#profile .modal .row .table-responsive .education ul li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  position: absolute;
  left: 0;
}
#profile .modal .row .table-responsive a i {
  color: #707b8e;
  font-size: 1.6rem !important;
  margin-right: 0.5em;
  top: 4px;
  position: relative;
  transition: all 0.4s;
}
#profile .modal .row .table-responsive a:hover i {
  color: #6B58DB;
}
#profile .modal .row .table-responsive td:nth-child(1) {
  width: 10em;
}
#profile .modal .row .table-responsive td:nth-child(1) p {
  color: #707b8e !important;
}
@media (max-width: 720px) {
  #profile .modal .modal-body img {
    height: 100%;
    object-fit: cover;
  }
  #profile .modal .modal-body .col-md-4 {
    height: 18em;
    margin-bottom: 2em;
  }
}

#kurikulum {
  margin-top: 14em;
}
#kurikulum .sub-title {
  margin-bottom: 2rem;
}
#kurikulum .kegiatan {
  margin-bottom: 120px;
}
#kurikulum .kegiatan .accordion {
  box-shadow: 0 0 10px 2px rgba(108, 88, 219, 0.2);
  border-radius: 0.6em;
  transition: all 0.4s;
}
#kurikulum .kegiatan .accordion:hover {
  box-shadow: 7px 7px 20px -5px rgba(108, 88, 219, 0.356);
}
#kurikulum .kegiatan .accordion .card {
  border: none;
  overflow: hidden;
}
#kurikulum .kegiatan .accordion .card:nth-child(1) {
  border-radius: 0.6em 0.6em 0 0;
}
#kurikulum .kegiatan .accordion .card:nth-child(3) {
  border-radius: 0 0 0.6em 0.6em;
}
#kurikulum .kegiatan .accordion .card-header {
  position: relative;
}
#kurikulum .kegiatan .accordion .card-header:hover .btn {
  z-index: 0;
  color: #4e5663;
}
#kurikulum .kegiatan .accordion .card-header:hover .btn::before {
  transform: scaleX(100%);
  z-index: -1;
}
#kurikulum .kegiatan .accordion .card-header .angle.collapsed i {
  transform: rotate(0);
}
#kurikulum .kegiatan .accordion .progress-table-wrap {
  overflow: auto;
}
#kurikulum .kegiatan .accordion .progress-table-wrap .progress-table {
  min-width: 410px;
}
#kurikulum .kegiatan .accordion .progress-table-wrap .serial {
  width: 5em;
}
#kurikulum .kegiatan .accordion .progress-table-wrap .visit {
  width: 12em;
}
#kurikulum .kegiatan .accordion .progress-table-wrap .percentage {
  width: 20em;
  padding-right: 0;
}
#kurikulum .kegiatan .accordion .unordered-list {
  padding-top: 15px;
  padding-left: 2em;
  background: #f9f9ff;
}
#kurikulum .kegiatan .btn {
  border-radius: 0.6em;
  background-color: #A56DF2;
  transition: all 0.4s;
  text-transform: uppercase;
  color: #fff;
  min-width: 15em;
  padding: 30px;
  display: block;
}
#kurikulum .kegiatan .btn::before {
  background-color: #f2ee55;
  height: 105%;
}
#kurikulum .kegiatan .angle {
  position: absolute;
  font-size: 1.5rem;
  padding-right: 0.5em;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #2b044d;
}
#kurikulum .kegiatan .angle i {
  transform: rotate(-90deg);
  transition: all 0.4s;
}
@media (max-width: 720px) {
  #kurikulum .kegiatan .btn {
    min-width: 13em;
  }
}

.kitab-wrapper {
  margin-bottom: 120px;
}
.kitab-wrapper .owl-prev, .kitab-wrapper .owl-next {
  position: absolute;
  top: 30%;
}
.kitab-wrapper .owl-prev span, .kitab-wrapper .owl-next span {
  font-size: 60px;
  color: #787878;
}
.kitab-wrapper .owl-prev {
  left: -45px;
}
.kitab-wrapper .owl-next {
  right: -45px;
}
.kitab-wrapper .owl-theme {
  height: 21em;
  margin-bottom: 2em;
}
.kitab-wrapper .owl-theme .owl-stage-outer {
  height: 100%;
}
.kitab-wrapper .owl-theme .owl-stage-outer .owl-stage {
  margin-top: 2em;
  position: absolute;
  display: flex !important;
  align-content: center;
  height: 100%;
}
.kitab-wrapper .owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent;
}
@media (max-width: 720px) {
  .kitab-wrapper .owl-prev {
    left: 0;
  }
  .kitab-wrapper .owl-next {
    right: 0;
  }
}
.kitab-wrapper .item {
  display: grid;
  justify-content: center !important;
  position: relative;
}
.kitab-wrapper .card {
  border: none;
  border-radius: 0.6em;
  overflow: hidden;
  width: 95%;
  box-shadow: 0 0 10px 1px rgba(108, 88, 219, 0.7);
  transition: all 0.4s;
  cursor: pointer;
}
.kitab-wrapper .card:hover {
  box-shadow: 3px 3px 23px rgba(108, 88, 219, 0.8);
}
@media (max-width: 720px) {
  .kitab-wrapper .card {
    width: 100%;
  }
}
.kitab-wrapper .card-img-overlay {
  padding: 100% 0 0 0.5em;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 20%, black 84%);
}
.kitab-wrapper .card-img-overlay .title, .kitab-wrapper .card-img-overlay .author {
  text-shadow: 1px 1px 3px #000;
  position: absolute;
}
.kitab-wrapper .card-img-overlay .title {
  font-size: 1.1rem;
  font-weight: bold;
  bottom: 1.6em;
  color: #f2f2f2;
}
.kitab-wrapper .card-img-overlay .author {
  color: #72F29F;
  font-size: 0.7rem;
  bottom: 1.5em;
}
@media (max-width: 720px) {
  .kitab-wrapper .modal .modal-dialog {
    width: 95.5%;
  }
}
.kitab-wrapper .modal .modal-content {
  padding: 0;
  margin: 0;
  border-radius: 0.6em;
}
.kitab-wrapper .modal .modal-content:hover::before {
  display: none;
}
.kitab-wrapper .modal .modal-content:hover {
  box-shadow: none;
}
.kitab-wrapper .modal .modal-body {
  padding: 1.5em;
}
.kitab-wrapper .modal .modal-body .row {
  justify-content: center;
}
.kitab-wrapper .modal .modal-body .row > div:first-child {
  margin-bottom: 2em;
}
.kitab-wrapper .modal .modal-body .row .img-wrapper {
  height: 100%;
  border-radius: 0.6em;
  overflow: hidden;
}
.kitab-wrapper .modal .modal-body .row .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.kitab-wrapper .modal .modal-body .row .table-responsive {
  overflow-x: auto;
}
.kitab-wrapper .modal .modal-body .row .table-responsive .table {
  min-width: 23em;
}
.kitab-wrapper .modal .modal-body .row .table-responsive td {
  padding: 0;
}
.kitab-wrapper .modal .modal-body .row .table-responsive td p {
  text-align: left;
  margin-bottom: 8px;
}
.kitab-wrapper .modal .modal-body .row .table-responsive td p .fa {
  font-size: 1.1rem;
  color: #2b044d;
}
.kitab-wrapper .modal .modal-body .row .table-responsive td .desc {
  text-align: justify !important;
}
.kitab-wrapper .modal .modal-body .row .table-responsive td:nth-child(1) {
  width: 8em;
}
@media (max-width: 720px) {
  .kitab-wrapper .modal .modal-body .row > div:first-child {
    margin-bottom: 2em;
    overflow: hidden;
    height: 18em;
  }
}

.kulikuler-wrapper .col-md-5 {
  padding-right: 0;
}
.kulikuler-wrapper .card {
  border-radius: 0.6em;
  overflow: hidden;
  margin-bottom: 2.5em;
  padding: 0;
  box-shadow: 0 0 10px 2px rgba(108, 88, 219, 0.2);
  transition: all 0.4s;
}
.kulikuler-wrapper .card:hover {
  border: 1px solid #A56DF2;
}
.kulikuler-wrapper .card .card-img {
  height: 100%;
  border-radius: 0;
  border: none;
  object-fit: cover;
}
.kulikuler-wrapper .card .card-title {
  padding-top: 1em;
  font-size: 1.4rem;
  margin-bottom: 1em;
}
.kulikuler-wrapper .card .card-text {
  padding-right: 15px;
  font-size: 0.9rem;
  text-align: justify;
  line-height: 1.5rem;
}
@media (max-width: 720px) {
  .kulikuler-wrapper .col-md-7 {
    padding: 2em;
  }
  .kulikuler-wrapper .col-md-5 {
    overflow: hidden;
    height: 12em;
  }
  .kulikuler-wrapper .card .card-title {
    padding-top: 0;
  }
  .kulikuler-wrapper .card .card-text {
    padding-right: 0;
  }
}

#info {
  margin-top: 14em;
}
#info .info-wrapper {
  margin: 0 1em;
}
#info h3 {
  font-family: "Nunito", serif;
  color: #f2ee55;
  padding: 0.5em 1em;
  letter-spacing: 0.2rem;
}
#info .card, #info .alamat {
  overflow: hidden;
  height: 100%;
  border-radius: 0.6em;
  box-shadow: 0 0 10px 2px rgba(108, 88, 219, 0.4);
  background: #A56DF2;
  transition: all 0.4s;
}
#info .card:hover, #info .alamat:hover {
  box-shadow: 7px 7px 20px -5px rgba(108, 88, 219, 0.6);
}
#info .map-wrapper {
  min-height: 30em;
}
#info .map-wrapper .card {
  padding: 4px;
}
#info .map-wrapper .card .map {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.3em;
}
#info .kontak {
  height: 14em;
}
#info .kontak .row {
  height: 100%;
  padding: 1em;
  margin-top: 0;
}
#info .kontak .row h3 {
  padding: 0 0.5em;
}
#info .kontak .row h3 .fas {
  font-size: 4.5rem;
}
#info .kontak .row .title {
  padding: 0 !important;
  text-align: center;
  align-content: center;
  display: grid;
}
#info .kontak .row .body {
  display: grid;
  text-align: center;
  align-content: center;
  padding-left: 0;
}
#info .kontak .row .body a {
  color: #f2f2f2;
  font-size: 0.9rem;
  text-decoration: none;
}
#info .kontak .row .body hr {
  height: 2px;
  border-radius: 1px;
  border: none;
  background: #b384f4;
}
#info .kontak .row .body .x-hr {
  width: 2px;
  height: 80%;
  position: absolute;
  margin-top: 1.3em;
  left: -1.7em;
}
#info .kontak .row .body h3 {
  font-size: 1rem;
}
#info .kontak .row .body h3 i {
  font-size: 1.3rem;
}
#info .alamat li:first-child {
  background: #A56DF2;
  padding: 8px 4px !important;
}
#info .alamat li:first-child h3 {
  margin-bottom: 0;
}
#info .alamat li {
  padding: 0.7em 2em !important;
  height: 100%;
  display: grid;
  align-content: center;
  word-spacing: 3px;
}
@media (max-width: 720px) {
  #info .info-wrapper {
    margin: 0;
  }
  #info .info {
    padding: 0;
  }
  #info #lokasi {
    margin-bottom: 2em;
  }
  #info .kontak {
    margin: 12px 0;
    height: 100%;
    padding: 2em 0;
  }
  #info .kontak .body {
    padding: 0;
  }
  #info .kontak .body h3 {
    font-size: 1.2rem !important;
    margin-bottom: 0.8em;
  }
  #info .kontak .body h3 i {
    font-size: 1.5rem !important;
  }
  #info .kontak .body a {
    font-size: 1rem !important;
  }
  #info .kontak .title h3 {
    margin-bottom: 1.5em;
  }
  #info .kontak .x-hr {
    width: 85% !important;
    height: 2px !important;
    left: 0.5em !important;
    margin: 1em;
    top: -26%;
  }
  #info .kontak .y-hr {
    margin: 1em;
  }
  #info .alamat {
    margin: 3.5em 0;
    height: 80%;
  }
}

#pendaftaran {
  margin-top: 14em;
}
#pendaftaran .sub-title {
  margin-bottom: 2rem;
}
#pendaftaran .persyaratan-wrapper, #pendaftaran .alur-wrapper, #pendaftaran .biaya-wrapper {
  margin-bottom: 120px;
}
#pendaftaran .persyaratan-wrapper .card, #pendaftaran .alur-wrapper .card, #pendaftaran .biaya-wrapper .card {
  box-shadow: 0 0 10px 2px rgba(108, 88, 219, 0.2);
  transition: all 0.4s;
  padding: 1em 30px;
  background: #f9f9ff;
  border: none;
  border-radius: 0.6em;
}
#pendaftaran .persyaratan-wrapper .card .list-group-item, #pendaftaran .alur-wrapper .card .list-group-item, #pendaftaran .biaya-wrapper .card .list-group-item {
  background: #f9f9ff;
  padding-left: 46px;
}
#pendaftaran .persyaratan-wrapper .card:hover, #pendaftaran .alur-wrapper .card:hover, #pendaftaran .biaya-wrapper .card:hover {
  box-shadow: 7px 7px 20px -5px rgba(108, 88, 219, 0.356);
}
@media (max-width: 720px) {
  #pendaftaran .persyaratan-wrapper .card, #pendaftaran .alur-wrapper .card, #pendaftaran .biaya-wrapper .card {
    padding: 1em 0.5em;
  }
}
#pendaftaran .persyaratan-wrapper {
  text-align: justify;
}
#pendaftaran .persyaratan-wrapper .fas {
  top: 1em;
  left: 1em;
  position: absolute;
}
#pendaftaran .alur-wrapper .card {
  text-align: justify;
}
#pendaftaran .alur-wrapper .card .list-group-item .number {
  color: #6B58DB;
  left: 3px;
  position: absolute;
}
#pendaftaran .alur-wrapper .card a {
  color: #6B58DB;
}
#pendaftaran .alur-wrapper .card a:hover {
  color: #A56DF2;
}
#pendaftaran .biaya-wrapper h3 {
  margin-left: -2px;
}
#pendaftaran .biaya-wrapper h4 {
  margin-bottom: 1em;
  color: #6B58DB;
}
#pendaftaran .biaya-wrapper .card {
  padding: 20px;
  background: #fff;
}
#pendaftaran .biaya-wrapper .card:first-of-type {
  margin-bottom: 60px;
}
#pendaftaran .biaya-wrapper .progress-table-wrap {
  overflow: auto;
  border-radius: 0.6em;
}
#pendaftaran .biaya-wrapper .progress-table-wrap .progress-table {
  min-width: 410px;
}
#pendaftaran .biaya-wrapper .progress-table-wrap .serial {
  width: 5em;
}
#pendaftaran .biaya-wrapper .progress-table-wrap .percentage {
  padding-right: 0;
  width: 16em;
}
#pendaftaran .biaya-wrapper .progress-table-wrap .visit {
  width: 12em;
}

#wave-2 {
  margin-top: 6em;
}

#footer {
  background: #A56DF2;
  padding: 1em;
  color: #2b044d;
}
#footer .col-md-3 {
  display: grid;
  justify-content: center;
}
#footer .brand-wrapper {
  padding: 0.5em;
  text-align: center;
  background: white;
  border-radius: 0.5em;
}
#footer .sosmed {
  margin-top: 1em;
  text-align: center;
}
#footer .sosmed .sosmed-wrapper {
  line-height: 2.5em;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  align-content: center;
  height: 2.5em;
  width: 2.5em;
  margin-left: 1em;
  background: white;
  border-radius: 2em;
}
#footer .sosmed .sosmed-wrapper:hover i::before {
  background-position: 0% 0%;
}
#footer .sosmed .sosmed-wrapper .fab, #footer .sosmed .sosmed-wrapper .far {
  font-size: 1.6rem;
  color: #A56DF2;
}
#footer .sosmed .sosmed-wrapper i::before {
  display: "";
  top: 5.3px;
  position: relative;
  text-align: center;
  background-size: 250% 250%;
  background-position: 75% 75%;
  transition: background 0.24s linear;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#footer .sosmed .sosmed-wrapper .fa-facebook-square::before {
  background-image: linear-gradient(135deg, #0480fe 30%, #A56DF2 50%);
}
#footer .sosmed .sosmed-wrapper .fa-instagram::before {
  background-image: linear-gradient(135deg, #ee258e 30%, #A56DF2 50%);
}
#footer .sosmed .sosmed-wrapper .fa-whatsapp::before {
  background-image: linear-gradient(135deg, #11d458 30%, #A56DF2 50%);
}
#footer .sosmed .sosmed-wrapper .fa-envelope::before {
  background-image: linear-gradient(135deg, #febd39 30%, #A56DF2 50%);
}
#footer p, #footer span {
  font-size: 0.8rem;
}
#footer p {
  color: #2b044d;
  margin-top: 3em;
  text-align: center;
  line-height: 2em;
}
#footer p a {
  font-size: 0.9rem;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}
@media (max-width: 720px) {
  #footer {
    padding-top: 3em;
  }
}

/*# sourceMappingURL=index.css.map */
